lib/
# Sphinx documentation
bin/
.Python
*.egg-info/
*.so
# Django stuff:
docs/_build/
# Distribution / packaging
*.pot
.cache
*.log
cons_test.py
lib64/
.ropeproject
dist/
# Installer logs
.mr.developer.cfg
sdist/
build/
var/
# C extensions
# Unit test / coverage reports
parts/
env/
*.egg
# Byte-compiled / optimized / DLL files
*.mo
.coverage
# Rope
htmlcov/
nosetests.xml
.pydevproject
# Output files
pip-delete-this-directory.txt
develop-eggs/
*.txt
*.py[cod]
*.html
# Translations
eggs/
.project
pip-log.txt
# Mr Developer
coverage.xml
.installed.cfg
.tox/
__pycache__/
enswat.sublime-project
enswat.sublime-workspace
temp/
